html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;       
    scrollbar-gutter: stable; 
  }
  
 
  ::-webkit-scrollbar {
    width: 0;              
    background: transparent;
  }
  html {
    scrollbar-width: none; 
  }
  